.introduction {
    padding: 50px 80px;
    padding-top: 55px;
    text-align: center;
    line-height: 26px;
    background-color: #ffffff;
}

@media (min-width: 1200px) {
    .introduction {
        padding-right: 312px;
        padding-left: 312px;
        padding-top: 59px;
    }
}

.introduction_title {
    margin: 0;
    margin-bottom: 28px;
    padding: 0;
    font-size: 21px;
    font-weight: 700;
    color: #000000;
}

.advantage-list {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.advantage-item {
    flex-basis: 33%;
    flex-grow: 1;
    min-height: 256px;
    text-align: center;
    background: #ffffff;
}

.advantage-item_theme_white {
    color: #333333;
    background: #ffffff;
}

.advantage-item_theme_gray {
    color: #333333;
    background: #eeeeee;
}

.advantage-item_theme_blue {
    color: #ffffff;
    background: #81b3d2;
}

.advantage-item_image_right {
    display: flex;
    flex-basis: 100%;
}

.advantage-item_image_right .advantage-item__image {
    position: relative;
    flex-basis: 67%;
    flex-grow: 1;
    order: 2;
    overflow: hidden;
}

.advantage-item_image_right img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
}

@media (min-width: 1200px) {
    .advantage-item_image_right img {
        top: -78px;
    }
}

.advantage-item_image_right .advantage-item__description {
    flex-basis: 33%;
    flex-grow: 1;
    order: 1;
    padding-right: 28px;
    padding-left: 28px;
    padding-bottom: 37px;
}

@media (min-width: 1200px) {
    .advantage-item_image_right .advantage-item__description {
        padding-right: 50px;
        padding-left: 50px;
    }
}

.advantage-item_icon .advantage-item__description {
    padding-right: 46px;
    padding-left: 46px;
    padding-bottom: 57px;
}

@media (min-width: 1200px) {
    .advantage-item_icon .advantage-item__description {
        padding-bottom: 78px;
    }
}

.advantage-item_image_left {
    display: flex;
    flex-basis: 100%;
}

.advantage-item_image_left .advantage-item__image {
    position: relative;
    flex-basis: 67%;
    flex-grow: 1;
    order: 1;
    overflow: hidden;
}

.advantage-item_image_left img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

@media (min-width: 1200px) {
    .advantage-item_image_left img {
        top: -78px;
    }
}

.advantage-item_image_left .advantage-item__description {
    flex-basis: 33%;
    flex-grow: 1;
    order: 2;
    padding-bottom: 37px;
}

@media (min-width: 1200px) {
    .advantage-item_image_left .advantage-item__description {
        padding-right: 47px;
        padding-left: 47px;
    }
}

.advantage-item__icon {
    margin-bottom: 25px;
    margin-top: 11px;
}

.advantage-item__description {
    padding-top: 47px;
    padding-right: 40px;
    padding-bottom: 41px;
    padding-left: 40px;
    box-sizing: border-box;
}

@media (min-width: 1200px) {
    .advantage-item__description {
        padding-right: 63px;
        padding-bottom: 63px;
        padding-left: 63px;
    }
}

.advantage-item__text:not(:last-child) {
    margin-bottom: 23px;
}

.advantage-item__text_name {
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 0;
    font-size: 21px;
    font-weight: 700;
}

@media (min-width: 1200px) {
    .advantage-item__text_name {
        padding-left: 63px;
        padding-right: 63px;
    }
}

.advantage-item__text_about {
    word-wrap: break-word;
}
