body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 768px;
    /*min-height: 500px;*/
    height: 100%;
    margin: 0 auto;

    background: #ccc;
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

.advantage-item {
    flex-basis: 33%;
    flex-grow: 1;
    /*width: 256px;*/
    min-height: 256px;
    /*padding-top: 45px;
    padding-bottom: 40px;*/
    text-align: center;

    background: #ffffff;
}

.advantage-item__description {
    margin-top: 32px;
    margin-bottom: 32px;
}

.advantage-item_image_right {
    display: flex;
    flex-basis: 100%;
    /*width: 100%;*/
}

.advantage-item_image_right .advantage-item__image {
    flex-basis: 67%;
    flex-grow: 1;
    order: 2;
    background-image: url(../img/picture1-768.jpg);
    background-repeat: no-repeat;
    /*width: 512px;*/
}

@media (min-width: 1200px) {
    .advantage-item_image_right .advantage-item__image {
        background-image: url(../img/picture1.jpg);
        background-repeat: no-repeat;
        /*width: 800px;*/
    }
}

.advantage-item_image_right .advantage-item__description {
    flex-basis: 33%;
    flex-grow: 1;
    order: 1;
}

.advantage-item_image_left {
    display: flex;
    flex-basis: 100%;
    /*width: 100%;*/
    margin: 0;
    padding: 0;
}

.advantage-item_image_left .advantage-item__image {
    flex-basis: 67%;
    flex-grow: 1;
    order: 1;
    background-image: url(../img/picture2-768.jpg);
    background-repeat: no-repeat;
    /*width: 512px;*/
}

@media (min-width: 1200px) {
    .advantage-item_image_left .advantage-item__image {
        background-image: url(../img/picture2.jpg);
        background-repeat: no-repeat;
        /*width: 800px;*/
    }
}

.advantage-item_image_left .advantage-item__description {
    flex-basis: 33%;
    flex-grow: 1;
    order: 2;
}

.advantage-item__icon {
    margin-bottom: 24px;
    margin-top: 11px;
}

.advantage-item__name {
    word-wrap: break-word;
    margin-bottom: 24px;
    padding-left: 47px;
    padding-right: 47px;

    font-size: 21px;
    font-weight: 700;
    /*color: #000000;*/
}

.advantage-item__value {
    margin-bottom: 22px;
}

.advantage-item__text {
    word-wrap: break-word;
    padding-left: 24px;
    padding-right: 24px;
}

.advantage-item_theme_white {
    color: #333333;
    background: #ffffff;
}

.advantage-item_theme_gray {
    color: #333333;
    background: #eeeeee;
}

.advantage-item_theme_blue {
    color: #ffffff;
    background: #81b3d2;
}
